
#데이터
data/raw/*
!data/raw/.gitkeep
data/processed/
!data/processed/offensive_dataset/*
outputs/*

prompts/cluster_details/*
!prompts/cluster_details/.gitkeep
counsell_github/app/test.py

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# .venv
.venv/
# cache
.cache/